<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 1 - High-Low Game</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>Hi-Low</h1>
    <p>Guess the number between 1 and 100</p>
    <div id="app" v-cloak>
      Your guess:
      <input type="number" v-model.number="guess" @keyup.enter="submitGuess"></input>

      <button type="submit" id="guess-btn" @click="submitGuess">Submit</button>
      <p>Secret number: {{secretNum}}</p>
      <div v-if="guesses.length > 0">
        <p>Your guesses:</p>
        <ul>
          <li v-for="guess in guesses">{{ guess }}</li>
        </ul>
      </div>
      <p>{{ message }}</p>
    </div>
  </body>
</html>
